{
  "plugins": [
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "lib", "style": "css" },
      "antd"
    ],
    [
      "react-css-modules",
      {
        "generateScopedName": "[path]-[local]-[hash:base64:5]",
        "exclude": "node_modules",
        "handleMissingStyleName": "warn",
        "webpackHotModuleReloading": true,
        "filetypes": {
          ".less": {
            "syntax": "postcss-less"
          }
        }
      }
    ]
  ]
}
