{
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
  "plugins": [
    // "react-hot-loader/babel",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-optional-chaining",
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "lib", "style": "css" },
      "antd"
    ],
    [
      "react-css-modules",
      {
        "generateScopedName": "[path]___[name]__[local]___[hash:base64:5]",
        "exclude": "node_modules",
        "attributeNames": { "styleName": "className" },
        "handleMissingStyleName": "warn",
        "webpackHotModuleReloading": true,
        "filetypes": {
          ".less": {
            "syntax": "postcss-less"
          }
        }
      }
    ]
  ],
  "ignore": ["node_modules/**"]
}
