.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: red;
  overflow: hidden;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 400px;
  }

  .cover {
    height: 200px;
    width: 400px;
    background-image: url('../assets/good.png');
  }
}

:global {
  .chenjiajing {
    font-size: 30px !important;
  }
}
